@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.prata {
    font-family: 'Prata', serif;
}
.inter {
    font-family: 'Inter', sans-serif;
}

.custom-checkbox:checked+label,.custom-radio:checked+label  {
    background-color: #F76B24;
    border-color: #F76B24;
    color: white;
}